<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <div class="panel">
    <div class="rest-attributes">
      <div class="panel restaurant-name"><%= link_to restaurant.name, restaurant %></div>
      <div class="panel restaurant-address"><%= restaurant.address %></div>
    </div>
    <div class="panel rest_image"><%= image_tag restaurant.image.url(:thumb) %></div>
    <% if current_user && current_user.id == restaurant.user_id %>
      <div class="panel-footer"
        <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
<% end %>


<br>

<% if current_user && current_user.is_owner? %>
  <%= link_to 'New Restaurant', new_restaurant_path %>
<% end %>