<h1><%=@restaurant.name%></h1>

<p>
  <%= image_tag @restaurant.image.url(:medium) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>


<p>
<%= link_to 'Favorite:',  favorite_restaurant_path(@restaurant), method: :put %>

<% if current_user %>
	<% 
		if current_user.favorite_restaurants.include?(@restaurant)
			favorite_image_path = 'star.png'
			puts "Favorite"
		else
			favorite_image_path = 'unstar.png'
			puts "Not favorite"
		end
	%>

	<%= link_to (image_tag favorite_image_path, style: 'height: 30px;'), favorite_restaurant_path(@restaurant), method: :put %>

<% end %>
</br><span><%= pluralize(@restaurant.favorites.count, 'Star') %></span>
</p>

<% @reviews.each do |review| %>
	<div class="panel panel-default">
		<%= "User_ID: #{review.user_id}" %> </br>
		<%= "Rating: #{review.rating}" %> </br>
		<%= "Review: #{review.text}" %> </br>
		<%= "Review_Id: #{review.id}" %> </br>
		<%= "Restaurant_ID: #{review.restaurant_id}" %> </br>
		<% if current_user && review.user_id == current_user.id %>
			<%= link_to "Edit Review", edit_restaurant_review_path(@restaurant, review) %>
			<%= link_to "Delete Review", restaurant_review_path(@restaurant, review), method: :delete %>
		<% end %>
	</div>
<% end %>

<p>
<strong>Favorited By: </strong>
<% @favorited_by.each do |user| %>
	<%= user.email %>
<% end %>
</p>

<div class="panel panel-default">
	<div class="panel-heading">Categories</div>
	<div class="panel-body">
		<% @categories.each do |category| %>
			<div class="category">
				<%= category.name %>
				<%= link_to restaurant_remove_category_path, category: category, method: :delete, :class => "btn btn-danger" do %>
				  <span class="glyphicon glyphicon-trash" font-color="white" aria-hidden="true"></span>
				<% end %>
			</div>
		<% end %>
	</div> <!-- panel-body-->
	
	<div class="panel-footer">
		<%= form_tag('/restaurant/add_category', method: :post) %>
			<% if @category.errors.any? %>
				<div id="erro_explanation">
					<h2> <%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

					<ul>
						<% category.errors.full_messages.each do |message| %>
								<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<div class="field">
				<%= select_tag "category", options_from_collection_for_select(@all_categories, "name", "name") %>
			</div>

			<%= hidden_field_tag :id, @restaurant.id %>

			<div class="actions">
				<%= submit_tag("Add Category") %>
			</div>

	</div>
</div>
<p>
<%= link_to 'Review this restaurant', new_restaurant_review_path(@restaurant, current_user) %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
